body, html {
line-height: 175%;
overflow-x: hidden;
}
a {
color: #159957;
}
.btn {
font-weight: bold;
transition: background-color 0.5s;
}
.btn-landing {
color: white;
}
.btn-lg {
padding: 10px 36px;
font-size: 22px;
line-height: 1.5;
border-radius: 6px;
}
.btn-gray {
color: #666;
background-color: rgba(0, 0, 0, 0.08);
}
      
.btn:hover {
background-color: #2693ff;
color: white;
}
.btn:hover h3 {
color: white;
}

.btn-primary {
background-color: #159957;
color: white;
}

.app-header {
background-image: url("/images/wallhaven-338257_2560x1080.jpg");
padding: 1rem 2rem;
color: white;
margin-top: 50px;
}
.app-header .main-content h1 { 
font-size: 40px; 
text-transform: uppercase;
color: white;
margin-top: 0px;
}
.app-header .main-content h2 { 
color: white;
opacity: 0.6;
}

.app-header .app-homebutton {
font-size: 30px;
position: absolute;
top: 15px;
left: 15px;
opacity: 0.4;
transition: opacity 0.5s;
}
.app-header .app-homebutton:hover {
cursor: pointer;
opacity: 1;
}
.page-header {
width: 100%;
position: fixed;
top: 0px;
overflow: hidden;
height: 50px;
z-index: 100;
padding: 0px;
text-align: left;
/*box-shadow: 0px 0px 5px #333;*/
}
.page-header h1 {
font-size: 27px;
margin: 4px 22px;
padding: 0px;
font-weight: bold;
line-height: 150%;
}
.page-header h1 a {
text-decoration: none;
color: inherit;
}
.page-header h2 {
opacity: 1;
margin-left: auto;
margin-right: auto;
}

.main-content {
padding-bottom: 0px;
}

.main-content .columns3 {
    column-count: 3;
}

.main-content .colorback {
    margin: 0 -9999rem;
    padding: 4rem 9999rem;
    color: white;
}
.main-content .colorback.lightgrayback {
    color: #666;
    background-color: #ddd;
}
.main-content .colorback.blueback {
    background-color: #2693ff;
}
.main-content .colorback.grayback {
    background-color: #333333;
}
.main-content .colorback.greenback {
    background-color: #159957;
}
.main-content .colorback h1,
.main-content .colorback h2,
.main-content .colorback h3 {
    color: white;
    opacity: 0.8;
    margin-top: 15px;
}
.main-content .colorback.lightgrayback h1,
.main-content .colorback.lightgrayback h2,
.main-content .colorback.lightgrayback h3 {
    color: #333;
}
.main-content h1 {
    font-weight: bold;
}
.main-content .colorback a {
    color: white;
    opacity: 0.8;
}

.main-content .colorback blockquote {
    color: white;
    opacity: 0.8;
    border-color: rgba(255,255,255,0.3);
}
.main-content .blueback a {
    /*font-style: italic;*/
    color: white;
}

.center-image {
    margin: 0 auto;
    display: block;
}
.contact {
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.contact img {
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    border: 5px solid white;
}
.contact a {
    font-weight: 700;
}
.contact .title {
    opacity: 0.6;
}
.screenshot {
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 5px solid white;
}
footer.site-footer {
    margin: 0 -9999rem;
    padding: 2rem 9999rem;
    background-color: #333;
    color: white;
}
footer.site-footer a {
    color: white;
}
footer.site-footer-sub {
margin-top: 5rem;
padding-top: 2rem;
padding-bottom: 2rem;
background-color: #f0f0f0 !important;
color: #ccc;
}
footer.site-footer-sub a {
color: #888;
}

.page-header .plab-logo {
position: fixed;
top: 0px;
right: 0px;
padding: 6px 30px;
margin: 0px;
opacity: 0.7;
z-index: 200;
text-transform: uppercase;
}
.plab-logo a {
text-decoration: none;
color: white;
}
table.layout-table {
display: table;
}
table.layout-table td {
vertical-align: top; padding: 10px; border: none;
}

.theicon {
display: inline-block;
padding: 25px;
width: auto;
border-radius: 50%;
margin-bottom: 20px;
box-shadow: 2px 2px 15px #ccc;
}

