body {
    overflow-x: hidden; /*for testimony padding*/
}
.btn {
    font-weight: bold;
}
.btn-gray {
    color: #666;
    background-color: rgba(0, 0, 0, 0.08);
    /*border-color: rgba(0, 0, 0, 0.2);*/
}
      
.btn-gray:hover {
    /*background-color: #2693ff;*/
    background-color: rgba(0,0,0,0.2);
    /*border-color: rgba(0, 0, 0, 0.3); */
}
.page-header {
    /*box-shadow: 0 0 200px rgba(0,0,0,0.3) inset;*/
}

.app-header {
background-image: inherit;
background-color: #20a98f;
box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
padding: 1rem 2rem;
}
.app-header h1 {
    font-size: 40px; 
    text-transform: uppercase;
}
.app-header .app-homebutton {
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0.4;
    transition: opacity 0.5s;
}
.app-header .app-homebutton:hover {
    cursor: pointer;
    opacity: 1;
}
.page-header h2 {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
padding-bottom: 0px;
}

.main-content .columns3 {
    column-count: 3;
}

.main-content .colorback {
    margin: 0 -9999rem;
    padding: 2.5rem 9999rem;
    color: white;
}
.main-content .colorback.blueback {
    background-color: #155799;
}
.main-content .colorback.grayback {
    background-color: #333333;
}
.main-content .colorback h1,
.main-content .colorback h2,
.main-content .colorback h3 {
    color: white;
    opacity: 0.7;
    margin-top: 15px;
}

.main-content .colorback blockquote {
    color: white;
    opacity: 0.8;
    border-color: rgba(255,255,255,0.3);
}
.main-content .blueback a {
    font-style: italic;
    color: #5f9;
}

.center-image {
    margin: 0 auto;
    display: block;
}
.contact {
    float: left;
    max-width: 25%;
    margin-right: 20px;
}
.contact img {
    border-radius: 3px;
    filter: grayscale(100%);
}
.screenshot {
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    border-radius: 5px;
}
footer.site-footer {
    margin: 0 -9999rem;
    padding: 2rem 9999rem;
    background-color: #333;
    color: white;
}
footer.site-footer a {
    color: white;

}
