* {
    box-sizing: border-box; }
  
  body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #444;
    line-height: 175%;
    overflow-x: hidden;
    font-family: Raleway;
}

  a {
    color: #1e6bb8;
    text-decoration: none; }
    a:hover {
      text-decoration: underline; }
  
  .btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    /*transition: color 0.2s, background-color 0.2s, border-color 0.2s;*/
    transition: background-color 0.2s;
    }
    .btn:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.3); }
    .btn + .btn {
      margin-left: 1rem; }
    @media screen and (min-width: 64em) {
      .btn {
        padding: 0.75rem 1rem; } }
    @media screen and (min-width: 42em) and (max-width: 64em) {
      .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem; } }
    @media screen and (max-width: 42em) {
      .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem; }
        .btn + .btn {
          margin-top: 1rem;
          margin-left: 0; } }
  
  .page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #2693ff, #159957); }
    @media screen and (min-width: 64em) {
      .page-header {
        padding: 4rem 6rem; } }
    @media screen and (min-width: 42em) and (max-width: 64em) {
      .page-header {
        padding: 3rem 4rem; } }
    @media screen and (max-width: 42em) {
      .page-header {
        padding: 2rem 1rem; } }
  
.project-name {
margin-top: 0;
margin-bottom: 0.1rem; 
font-size: 3.25rem;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.project-tagline {
font-weight: normal;
opacity: 0.8; 
margin-bottom: 35px;
font-size: 13pt;
font-style: italic;
}
  
  .main-content {
    word-wrap: break-word; }
    .main-content :first-child {
      margin-top: 0; }
    @media screen and (min-width: 64em) {
      .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.0rem; } }
    @media screen and (min-width: 42em) and (max-width: 64em) {
      .main-content {
        padding: 2rem 4rem;
        font-size: 1.0rem; } }
    @media screen and (max-width: 42em) {
      .main-content {
        padding: 2rem 1rem;
        font-size: 0.9rem; } }
    .main-content img {
      max-width: 100%; }
    .main-content h1,
    .main-content h2,
    .main-content h3,
    .main-content h4,
    .main-content h5,
    .main-content h6 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-weight: normal;
      color: #159957; }
    .main-content p {
      margin-bottom: 1em; }
    .main-content code {
      padding: 2px 4px;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.9rem;
      color: #567482;
      background-color: #f3f6fa;
      border-radius: 0.3rem; }
    .main-content pre {
      padding: 0.8rem;
      margin-top: 0;
      margin-bottom: 1rem;
      font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
      color: #567482;
      word-wrap: normal;
      background-color: #f3f6fa;
      border-radius: 0.3rem; }
      .main-content pre > code {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
        color: #567482;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0; }
    .main-content .highlight {
      margin-bottom: 1rem; }
      .main-content .highlight pre {
        margin-bottom: 0;
        word-break: normal; }
    .main-content .highlight pre,
    .main-content pre {
      padding: 0.8rem;
      overflow: auto;
      font-size: 0.9rem;
      line-height: 1.45;
      border-radius: 0.3rem;
      -webkit-overflow-scrolling: touch; }
    .main-content pre code,
    .main-content pre tt {
      display: inline;
      max-width: initial;
      padding: 0;
      margin: 0;
      overflow: initial;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0; }
      .main-content pre code:before, .main-content pre code:after,
      .main-content pre tt:before,
      .main-content pre tt:after {
        content: normal; }
    .main-content ul,
    .main-content ol {
      margin-top: 0; }
    .main-content blockquote {
      padding: 0 1rem;
      margin-left: 0;
      color: #819198;
      border-left: 0.3rem solid #dce6f0; }
      .main-content blockquote > :first-child {
        margin-top: 0; }
      .main-content blockquote > :last-child {
        margin-bottom: 0; }
    .main-content table {
      display: block;
      width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all;
      -webkit-overflow-scrolling: touch; }
      .main-content table th {
        font-weight: bold; }
      .main-content table th,
      .main-content table td {
        padding: 0.5rem 1rem;
        border: 1px solid #e9ebec; }
    .main-content dl {
      padding: 0; }
      .main-content dl dt {
        padding: 0;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: bold; }
      .main-content dl dd {
        padding: 0;
        margin-bottom: 1rem; }
    .main-content hr {
      height: 2px;
      padding: 0;
      margin: 1rem 0;
      background-color: #eff0f1;
      border: 0; }
  
  .site-footer {
    padding-top: 2rem;
    margin-top: 2rem; }
    @media screen and (min-width: 64em) {
      .site-footer {
        font-size: 1rem; } }
    @media screen and (min-width: 42em) and (max-width: 64em) {
      .site-footer {
        font-size: 1rem; } }
    @media screen and (max-width: 42em) {
      .site-footer {
        font-size: 0.9rem; } }
  
  .site-footer-owner {
    display: block;
    font-weight: bold; }
  
  .site-footer-credits {
    color: #819198; }

/**************************************************************************************/

h1 {
font-family: "Open Sans";
}
a {
color: #159957;
}
.btn {
font-weight: bold;
transition: background-color 0.5s;
}
.page-header .btn + .btn {
margin-left: 0.1rem;
}
.btn-landing {
color: white;
border: none;
transition: background-color 0.3s;
}
.page-header .btn-landing:hover {
    background-color: rgba(255,255,255,0.3);
}
.btn-lg {
padding: 10px 36px;
font-size: 22px;
line-height: 1.5;
border-radius: 6px;
}
.btn-sm {
padding: 8px;
border: none;
line-height: 1;
background-color: inherit;
}
.btn-gray {
color: #666;
background-color: rgba(0, 0, 0, 0.08);
}
      
.btn:hover {
background-color: #2693ff;
color: white;
}
.btn:hover h3 {
color: white;
}

.btn-primary {
background-color: #159957;
color: white;
}

.app-header {
background-image: url("/images/wallhaven-338257_2560x1080.jpg");
padding: 1rem 2rem;
color: white;
margin-top: 50px;
}
.app-header .main-content h1 { 
font-size: 40px; 
text-transform: uppercase;
color: white;
margin-top: 0px;
}
.app-header .main-content h2 { 
color: white;
opacity: 0.6;
}

.app-header .app-homebutton {
font-size: 30px;
position: absolute;
top: 15px;
left: 15px;
opacity: 0.4;
transition: opacity 0.5s;
}
.app-header .app-homebutton:hover {
cursor: pointer;
opacity: 1;
}
.page-header {
width: 100%;
position: fixed;
top: 0px;
overflow: hidden;
height: 50px;
z-index: 100;
padding: 0px;
text-align: left;
/*box-shadow: 0px 0px 5px #333;*/
}
.page-header h1 {
font-size: 27px;
margin: 4px 22px;
padding: 0px;
font-weight: bold;
line-height: 150%;
}
.page-header h1 a {
text-decoration: none;
color: inherit;
}

.main-content {
padding-bottom: 0px;
position: relative;
z-index: 1;
}

.main-content .columns3 {
    column-count: 3;
}

.main-content .colorback {
    margin: 0 -9999rem;
    padding: 3.5rem 9999rem;
    color: white;
}
.main-content .colorback.lightgrayback {
    color: #666;
    background-color: #ddd;
}
.main-content .colorback.lightgrayback a {
  color: #2693ff;
}
.main-content .colorback.blueback {
    background-color: #2693ff;
}
.main-content .colorback.grayback {
    background-color: #333333;
}
.main-content .colorback.greenback {
    background-color: #159957;
}
.main-content .colorback h1,
.main-content .colorback h2,
.main-content .colorback h3 {
    color: white;
    opacity: 0.8;
    margin-top: 15px;
}
.main-content .colorback.lightgrayback h1,
.main-content .colorback.lightgrayback h2,
.main-content .colorback.lightgrayback h3 {
    color: #333;
}
.main-content h1 {
    font-weight: bold;
}
.main-content .colorback a {
    color: white;
}

.main-content .colorback blockquote {
    color: white;
    opacity: 0.8;
    border-color: rgba(255,255,255,0.3);
}
.main-content .blueback a {
    /*font-style: italic;*/
    color: white;
}

.center-image {
    margin: 0 auto;
    display: block;
}
.contact {
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.contact img {
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    border: 5px solid white;
    width: 90%;
}
.contact a {
    font-weight: 700;
}
.contact .title {
    opacity: 0.6;
}
.screenshot {
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 5px solid white;
}
footer.site-footer {
    margin: 0 -9999rem;
    padding: 2rem 9999rem;
    background-color: #333;
    color: white;
}
footer.site-footer a {
    color: white;
}
footer.site-footer-sub {
margin-top: 5rem;
padding-top: 2rem;
padding-bottom: 2rem;
background-color: #f0f0f0 !important;
color: #aaa;
}
footer.site-footer-sub a {
color: #666;
}

.page-header .plab-logo {
position: fixed;
top: 0px;
right: 0px;
padding: 6px 30px;
margin: 0px;
opacity: 0.7;
z-index: 200;
text-transform: uppercase;
}
.plab-logo a {
text-decoration: none;
color: white;
}
table.layout-table {
display: table;
}
table.layout-table td {
vertical-align: top; padding: 10px; border: none;
}
table.layout-table {
    border-collapse:separate; 
    border-spacing: 0 2em;
}

/*
.theicon {
display: inline-block;
padding: 25px;
width: auto;
border-radius: 50%;
margin-bottom: 20px;
box-shadow: 2px 2px 15px #ccc;
}
*/

