<div class="colorback greenback" style="margin-top: 7rem; margin-bottom: 7rem;">
    <h1 style="margin: 4rem 0;"><center>Brainlife is for <b>Everyone</b>!</center></h1>
    <br>

    <table class="layout-table" style="font-size: 85%;">
    <tr>
        <td width="33%" style="text-align: center;">
            <p><i class="fab fa-hubspot" style="font-size: 500%;"></i></p>
            <br>
            <b>Psychologists and neroscientists</b>
            <p>Use our cloud computing services to understand the brain and behavior.</p>
        </td>
        <td width="33%" style="text-align: center;">
            <p><i class="fas fa-code" style="font-size: 500%;"></i></p>
            <br>
            <b>Computer scientists and engineers</b>
            <p>Use published data and applications to further develop algorithms and computing methods.</p>
        </td>
        <td width="33%" style="text-align: center;">
            <p><i class="fas fa-desktop" style="font-size: 500%;"></i></p>
            <br>
            <b>Statisticians and data scientists</b>
            <p>Use the data and data derivatives to gather new insights into individuality and variability of the human brain in large populations.</p>
        </td>
    </tr>
    </table>
</div>

