<!--<h1 style="opacity: 0.7"><center><i class="fas fa-globe fa-2x"></i></center></h1>
<br>
-->
<h1><center>Global multidisciplinary collaboration</center></h1>
<br>
<p>Sixty-six collaborators from global scientific communities contribute to the project by providing data, applications, technology and products to advance understanding the human brain.</p>
<br>

<table class="layout-table" style="font-size: 95%;">
<tr>
    <td width="50%" style="padding-right: 40px;">
        <p><b><i class="fas fa-globe"></i> Partners and collaborators</b></p>
        <small>
            Beijing Normal University 
            &bull; Boston University 
            &bull; Fondazione Bruno Kessler 
            &bull; Harvard Medical School 
            &bull; Illinois Institute of Technology 
            &bull; Indiana University Bloomington 
            &bull; Indiana University School of Medicine 
            &bull; Indiana University-Purdue University Indianapolis 
            &bull; Indiana Unversity Bloomington 
            &bull; Italian Instutute of Technology 
            &bull; Massachusetts Institute of Technology 
            &bull; National Institute of Information and Communication Technology 
            &bull; Northwestern University 
            &bull; Stanford University 
            &bull; The Jikei University School of Medicine 
            &bull; The Rockefeller University 
            &bull; The University of Washington 
            &bull; University Medical Center Groningen 
            &bull; University of Michigan 
            &bull; University of Oxford
        </small>
    </td>
    <td width="50%" style="padding-right: 40px;">
        <p><b><i class="fas fa-flask"></i> Research areas and applications</b></p>
        <small>
        Cognitive Neuroscience and Learning 
        &bull; Systems Neuroscience 
        &bull; Medical Sciences 
        &bull; Database for neuroimaging data management 
        &bull; Neuroinformatics 
        &bull; Neuroradiology 
        &bull; Biomedical Engineering 
        &bull; Scientific community tools 
        &bull; Information technology 
        &bull; Network neuroscience 
        &bull; Cognitive neuroscience of language 
        &bull; Statistics 
        &bull; Aging & social cognition research 
        &bull; Brain development 
        &bull; Psychological and brain sciences 
        &bull; Vision science and sports concussion research 
        &bull; Informatics and computing 
        &bull; Electrical engineering 
        &bull; Optometry 
        &bull; Computer science 
        &bull; Clinical neuroscience 
        &bull; Neuroimaging and radiology 
        &bull; Alzheimer disease and aging research 
        &bull; Rodent models 
        &bull; Computer Science 
        &bull; Computational neuroanatomy 
        &bull; Decision making and Neuroeconomics 
        &bull; Traumatic brain imaging 
        &bull; Visual brain development 
        &bull; Visual neuroscience and development 
        &bull; Ophthalmology 
        &bull; Systems neuroscience 
        &bull; Data Science 
        &bull; Big data and statistics 
        &bull; Clinical visual neurosciences
        </small>
    </td>
</tr>
</table>

<p style="opacity: 0.8; background-color: #ddd; padding: 20px;">
    <i class="fas fa-quote-left" style="font-size: 150%;"></i>&nbsp;&nbsp;
    <i>
        <!--"Brainlife is a tremendous platform! Congratulations on this project. It seems to be of tremendous potential to outreach the scientific community and disseminate knowledge, standardize methods and educate the community in doing comprehensive brain research. Tatiana Wolfe, The Ohio State University." -->
        The Brainlife platform is phenomenal. A great idea, great execution. It reminds me of Wikipedia when it started… now it is essential to almost everyone. Tatiana Wolfe, The Ohio State University."
    </i>
</p>
<br>
<br>
<br>
<br>
