<style>
.refs {
margin: 0 -9999rem;
padding-top: 10px;
color: white;
background-color: #ccc;
text-align: center;
}
.refs img {
    padding: 0 15px;
    max-height: 25px;
}
</style>
<div class="refs">
    <a href="https://iu.edu"><img src="images/ref.iu.png"/></a>
    <a href="https://jetstream-cloud.org/"><img src="images/ref.jetstream.png"/></a>
    <a href="https://www.nsf.gov/"><img src="images/ref.nsf.png"/></a>
    <a href="https://azure.microsoft.com"><img src="images/ref.azure.png"/></a>
    <a href="https://www.datacite.org/"><img src="images/ref.datacite.png"/></a>
</div>
