<h1 style="margin: 4rem 0;"><center>Brainlife is for <b>Everyone</b>!</center></h1>
<p>Brainlife reaches out beyond neuroscience. It allows computer scientists, statisticians and engineers interested in brain data to use the data to publish their methods and get credit for their work.</p>
<br>
<br>

<table class="layout-table" style="font-size: 85%;">
<tr>
    <td width="33%" style="text-align: center;">
        <p><i class="fab fa-hubspot" style="font-size: 500%;"></i></p>
        <br>
        <b>Brain Lovers</b>
        <p>Psychologists and neroscientists can use cloud computing to understand the brain and behavior.</p>
    </td>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-code" style="font-size: 500%;"></i></p>
        <br>
        <b>Apps Gurus</b>
        <p>Computer scientists and engineers can use published data and applications to develop algorithms and computing methods.</p>
    </td>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-desktop" style="font-size: 500%;"></i></p>
        <br>
        <b>Data Wizards</b>
        <p>Statisticians and data scientists can use available data and derivatives to gather new insights into individuality and variability in human populations.</p>
    </td>
</tr>
</table>
