
<center><h2><b>Engagement and education in big data, reproducible neuroscience.</b></h2></center>
<br>
<table class="layout-table" style="font-size: 85%;">
<tr>
    <td width="33%">
        <center>
            <div class="theicon">
                <i class="fas fa-cloud fa-3x"></i>
            </div>
            <br>
            <b>Accelerate Discovery</b>
            <p>Cloud computing made easy. Use open cloud services to analyze brain data from anywhere.</p>
        </center>
    </td>
    <td width="33%">
        <center>
            <div class="theicon">
                <i class="fab fa-leanpub fa-3x"></i>
            </div>
            <br>
            <b>Get Credit</b>
            <p>A revolutionary publishing paradigm. Share data and analyses by publishing all your resarch assets in a cloud platform.</p>
        </center>
    </td>
     <td width="33%">
        <center>
            <div class="theicon">
                <i class="fas fa-sync-alt fa-3x"></i>
            </div>
            <br>
            <b>Advance Reproducibility</b>
            <p>Provenence made easy. Upload and analyze data while automatically tracking all your important analyses steps.</p>
        </center>
    </td>
</tr>
</table>

<!--triangle-->
<center style="font-size: 600%; position: relative; top: 50px; color: white;"><i class="fas fa-caret-down"></i></center>

<div class="colorback lightgrayback">
    <br>
    <table class="layout-table">
    <tr>
        <td style="padding: 0px; text-align: right;">
            <h3><b><i class="fas fa-paper-plane"></i> Analyze and visualize.</b></h3>
            <p>Try the Brainlife Apps. Apps are open cloud services. Use the Apps to easily analyze data, monitor progress, visualize your results and share them with other users.</p>
        </td>
        <td style="padding: 0px; position: relative; left: 70px; top: -10px;">
            <img src="images/process.png" class="screenshot">
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="padding: 0px; position: relative; right: 50px;" width="50%">
            <img src="images/datasets.png" class="screenshot">
        </td>
        <td style="padding: 0px">
            <h3><b><i class="fas fa-database"></i> Upcycle data and code.</b></h3>
            <p>Upload new data or access available data to implement innovative studies and analyses. Data and Apps are conveniently organized into open or private projects shared among users.</p>
            <p>Register your code, algorithms and visualization tools as Apps. Increase the impact of your work by letting collaborators or the whole users community easily reuse your research products.</p>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="padding: 0px; text-align: right;">
            <h3><b><i class="fas fa-th-large"></i> Publish your value.</b></h3>
            <p>Increase the impact of your work by using an innovative publishing mchanism. Embed all your research assets, data and analyses, in a reusable cloud formats.</p>
            <p>Brainlife provides mechanisms to share your full research workflow "runnable" on the Cloud, letting collaborators or the whole users community easily reuse your research products.</p>
        </td>
        <td style="padding: 0px; position: relative; right: -50px;" width="50%">
            <img src="images/apps.png" class="screenshot">
        </td>
    </tr>
    </table>
</div>
<br>
