<div style="margin-top: 4rem; margin-bottom: 6rem; opacity: 0.9;">
    <h1 class="sponsor-header">
        <div class="sponsor-box">Sponsors</div>
    </h1>
    <p>
        <center>Brainlife is made possible by the generous support from the following organizations.</center>
    </p>

    <div class="sponsor-content">
        <a href="https://iu.edu"><img src="images/ref.iu.png"/></a>
        <a href="https://jetstream-cloud.org/"><img src="images/ref.jetstream.png"/></a>
        <a href="https://www.nsf.gov/"><img src="images/ref.nsf.png"/></a>
        <a href="https://www.nih.gov/"><img src="images/ref.nih.png"/></a>
        <a href="https://www.osris.org/"><img src="images/ref.osiris.png"/></a>
        <a href="https://azure.microsoft.com"><img src="images/ref.azure.png"/></a>
        <!--<a href="https://cloud.google.com/"><img src="images/ref.gcp.png"/></a>-->
        <a href="https://opensciencegrid.org/"><img src="images/ref.osg.png"/></a>
        <a href="https://www.datacite.org/"><img src="images/ref.datacite.png"/></a>
        <a href="https://www.utexas.edu/"><img src="images/ref.ut.png"/></a>
        <a href="https://www.tacc.utexas.edu/"><img src="images/ref.tacc.png"/></a>
    </div>
</div>
