<style>
@keyframes cloud_floating {
0% { left: -105%; }
100% { left: 105%; }
}
svg.cloud {
position: absolute;
z-index: 10;
}
svg.cloud-far {
top: 20px;
opacity: 0.2;
animation: cloud_floating 90s linear infinite;
animation-delay: -50s;
}
svg.cloud-mid {
top: -60px;
opacity: 0.4;
animation: cloud_floating 70s linear infinite;
animation-delay: -40s;
}
svg.cloud-small {
top: 30px;
opacity: 0.5;
animation: cloud_floating 60s linear infinite;
animation-delay: -50s;
}

img.kiki {
position: absolute;
top: 200px;
z-index: 5;
opacity: 0.5;
animation: cloud_floating 45s linear infinite;
animation-delay: 0s;
width: 100px;
}

.page-header {
height: 350px;
transition: padding 0.25s linear;
padding: 3rem 4rem;
z-index: 0;
text-align: center;
}
.page-header h1 {
margin: 0px;
font-size: 52px;
position: relative;
left: -5px;
}
.page-header .project-name {
transition: font-size 0.25s ease;
}
@media screen and (min-width: 42em) {
	.page-header.affix {
		height: 50px;
		z-index: 20;
		padding: 4px 0px;
	}
	.page-header.affix .project-name {
		font-size: 20pt;
	}
}
@media screen and (max-width: 42em) {
	.page-header.overscrolled {
		display:none;
	}
}

</style>

<section id="banner" class="page-header">

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
height="300px" viewBox="0 0 762 500" xml:space="preserve" class="cloud cloud-far">

<defs>
<linearGradient id="cloudgrad" x1="0%" y1="0%" x2="0%" y2="100%">
<stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0.1" />
<stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
</linearGradient>
</defs>

	<path fill="url(#cloudgrad)" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106 c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529 C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5 S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z"/>
</svg>

<svg class="cloud cloud-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="320" viewBox="0 0 512 300" xml:space="preserve">
	<defs>
	<linearGradient id="cloudgrad" x1="0%" y1="0%" x2="0%" y2="100%">
	<stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0.1" />
	<stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
	</linearGradient>
	</defs>
	<path fill="#FFFFFF" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
</svg>

<svg class="cloud cloud-mid" width="1200" height="420" viewBox="0 0 230 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<defs>
	<linearGradient id="cloudgrad" x1="0%" y1="0%" x2="0%" y2="100%">
	<stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0.1" />
	<stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
	</linearGradient>
	</defs>

	<path fill="url(#cloudgrad)" d=" M 79.72 49.60 C 86.00 37.29 98.57 29.01 111.96 26.42 C 124.27 24.11 137.53 26.15 148.18 32.90 C 158.08 38.78 165.39 48.87 167.65 60.20 C 176.20 57.90 185.14 56.01 194.00 57.73 C 206.08 59.59 217.92 66.01 224.37 76.66 C 227.51 81.54 228.85 87.33 229.23 93.06 C 237.59 93.33 246.22 95.10 253.04 100.19 C 256.69 103.13 259.87 107.67 258.91 112.59 C 257.95 118.43 252.78 122.38 247.78 124.82 C 235.27 130.43 220.23 130.09 207.98 123.93 C 199.33 127.88 189.76 129.43 180.30 128.57 C 173.70 139.92 161.70 147.65 148.86 149.93 C 133.10 153.26 116.06 148.15 104.42 137.08 C 92.98 143.04 78.96 143.87 66.97 139.04 C 57.75 135.41 49.70 128.00 46.60 118.43 C 43.87 109.95 45.81 100.29 51.30 93.32 C 57.38 85.18 67.10 80.44 76.99 78.89 C 74.38 69.20 74.87 58.52 79.72 49.60 Z"/>

</svg>
<!--<img src="images/kiki.png" class="kiki"/>-->

<div style="z-index: 200; position: absolute;">
	<h1 class="project-name animated" id="title">{{ site.title }}</h1>
	<h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="/project/" class="btn btn-landing">&nbsp;&nbsp;&nbsp;<i class="fas fa-play"></i> &nbsp;&nbsp;&nbsp;GET STARTED&nbsp;&nbsp;&nbsp;</a>
</div>

{% include plablogo.html %}

</section>

<script>
function onscroll() {
	var banner = document.getElementById("banner");
	var y = window.scrollY;
	var mainContent = document.getElementById("main-content");
	
	var bannerClasses = ['page-header'];
	
	if (y >= 225) bannerClasses.push('affix');
	if (mainContent.getBoundingClientRect().top <= 0) bannerClasses.push('overscrolled');
	banner.className = bannerClasses.join(' ');
	
	/*doesn't work
	if(y == 0) {
		document.getElementById("title").classList.add("zoomIn");
	}
	*/
}
window.addEventListener("scroll", onscroll);
</script>

