<br>
<br>
<table class="layout-table">
<tr>
    <td style="padding: 0px; text-align: right;">
        <h3><b><i class="fas fa-th-large"></i> Register Apps</b></h3>
        <p>A developer can register new <b>Apps</b> on Brainlife and let other users discover your algorithms.</p>
    </td>
    <td style="padding: 0px; position: relative; right: -50px;" width="50%">
        <img src="images/apps.png" class="screenshot">
    </td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
    <td style="padding: 0px; position: relative; right: 50px;" width="50%">
        <img src="images/datasets.png" class="screenshot">
    </td>
    <td style="padding: 0px">
        <h3><b><i class="fas fa-database"></i> Upload Datasets</b></h3>
        <p>You can upload your datasets and organize then under your projects. You can share them publicly, or with other project members.</p>
    </td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
    <td style="padding: 0px; text-align: right;">
        <h3><b><i class="fas fa-paper-plane"></i> Run Apps</b></h3>
        <p>You can submit and monitor App and share results simultanously with other users. Generated datasets can be archived and used to run other Apps</p>
    </td>
    <td style="padding: 0px; position: relative; left: 70px; top: -10px;">
        <img src="images/process.png">
    </td>
</tr>
</table>

