<br>
<h1 style="margin: 4rem 0;"><center>Brainlife is for everyone!</center></h1>
<p>
    Brainlife reaches out beyond neuroscience experts. We've made sure that our UI and Apps 
    can be used by non-neuroscentists by providing detailed information about each App with a good default parameters that should work 
    across wide range of input datasets.
</p>

<table class="layout-table" style="font-size: 85%;">
<tr>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-user-graduate" style="font-size: 500%;"></i></p>
        <br>
        <b>Students</b>
        <p>Students can quickly get started and learn about key concepts of brainimage data analysis. Brainlife can lower technical barries that
            often impedes effective learning process.</p>
    </td>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-code" style="font-size: 500%;"></i></p>
        <br>
        <b>Computer Scientists</b>
        <p>Computer scientists and engineers can focus on developing new algorithms and new computing methods without having 
          to learn the entire neuroimaging preprocessing steps.</p>
    </td>
    <td width="33%" style="text-align: center;">
        <p><i class="fas fa-desktop" style="font-size: 500%;"></i></p>
        <br>
        <b>Data Scienctists</b>
        <p>Statisticians and data scientists can use available datasets and data derivatives to gather new insights 
            into individuality and variability in human populations.</p>
    </td>
</tr>
</table>
