<div class="colorback blueback">
    <br>
    <h1><center>Brainlife Team</center></h1>
	<br>
	<br>

    <table class="layout-table">
    <tr>
        <td width="25%" class="contact">
            <img src="images/avatar/franco.jpg">
            <a href="mailto:frakkopesto@gmail.com">Franco Pestilli</a><br>
            <span class="title">Project Director</span>
        </td>
        <td width="25%" class="contact">
            <img src="images/avatar/lindseykitchell.jpg">
            <a href="mailto:kitchell@iu.edu">Lindsey Kitchell</a><br>
            <span class="title">Graduate Student</span>
        </td>
        <td width="25%" class="contact">
            <img src="images/avatar/brent.jpg">
            <a href="mailto:bcmcpher@iu.edu">Brent McPherson</a><br>
            <span class="title">Graduate Student</span>
        </td>
        <td width="25%" class="contact">
            <img src="images/avatar/brad.jpg">
            <a href="mailto:bacaron@imail.iu.edu">Bradley Caron</a><br>
            <span class="title">Graduate Student</span>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td width="25%" class="contact">
            <img src="images/avatar/dan.jpg">
            <a href="mailto:iisdanbul@gmail.com">Dan Bullock</a><br>
            <span class="title">Graduate Student</span>
        </td>
        <td width="25%" class="contact">
            <img src="images/avatar/soichi.jpg">
            <a href="mailto:hayashis@iu.edu">Soichi Hayashi</a><br>
            <span class="title">Lead Developer</span>
        </td>
        <td width="25%" class="contact">
            <img src="images/avatar/steven340.jpg">
            <a href="mailto:stevengeeky@gmail.com">Steven O'Riley</a><br>
            <span class="title">Software Engineer</span>
        </td>
        <td width="25%" class="contact">
            <img src="images/avatar/katealpert.png">
            <a href="mailto:kathryn.alpert@gmail.com">Kate Alpert</a><br>
            <span class="title">Software Engineer</span>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td width="255" class="contact">
            <img src="images/avatar/sophia_cropped_750x750.jpg" class="team-member">
            <a href="mailto:svincibo@indiana.edu">Sophia Vinci-Booher</a></br>
            <span class="title">Postdoctoral Researcher</span>
        </td>
    <tr width="25%" class="contact">
        <td>
            <img src="images/avatar/josiah.jpg" class="team-member">
            <a href="mailto:jkleong@indiana.edu"><Josiah Leong</a></br>
            <span class="title">Postdoctoral researcher</span>
        </td>
    </tr>
    </table>
    <br>
    <br>
</div>

<div style="margin-top: 6rem; margin-bottom: 7rem;">
    <h1>
        <center>
            <p style="font-size: 150%;">
                <i class="fas fa-key"></i>
            </p>
            Key collaborators
        </center>
    </h1>
	<br>
	<br>
    <table class="layout-table">
    <tr>
        <td width="50%">
            <h3><b><a href="https://itnews.iu.edu/people/henschel.php">Robert Henschel</a></b></h3>
			Director of Science Community Tools at Research Technologies, Indiana University
		</td>
        <td width="50%">
            <h3><b><a href="https://www.sice.indiana.edu/all-people/profile.html?profile_id=460">Eleftherios Garyfallidis</a></b></h3>
			Assistant Professor of Intelligent Systems Engineering, Indiana University
		</td>
    </tr>
    <tr>
        <td width="50%">
            <h3><b><a href="http://www.nuin.northwestern.edu/members-2/lwang/">Lei Wang</a></b></h3>
			Assistant Professor of Psychiatry and Behavioral Sciences and Radiology, Northwestern University
		</td>
        <td width="50%">
            <h3><b><a href="http://nursing.umich.edu/faculty-staff/faculty/ivo-d-dinov">Ivo Dinov</a></b></h3>
			Associate Director for Education and Training, Michigan Institute for Data Science, University of Michigan
		</td>
    </tr>
    </table>
</div>
