<div class="colorback greenback" style="margin-top: 7rem; margin-bottom: 7rem;">
    <h1 style="margin: 4rem 0;"><center>Brainlife is for <b>Everyone</b>!</center></h1>
    <p>Brailife reaches out beyond neuroscience. It allows computer scientists, statisticians and engineers interested in brain data to use the data to publish their methods and get credit for their work.</p>
    <br>
    <br>

    <table class="layout-table" style="font-size: 85%;">
    <tr>
        <td width="33%" style="text-align: center;">
            <p><i class="fab fa-hubspot" style="font-size: 500%;"></i></p>
            <br>
            <b>Psychologists and neroscientists</b>
            <p>Use cloud computing to understand the brain and behavior.</p>
        </td>
        <td width="33%" style="text-align: center;">
            <p><i class="fas fa-code" style="font-size: 500%;"></i></p>
            <br>
            <b>Computer scientists and engineers</b>
            <p>Use published data and applications to develop algorithms and computing methods.</p>
        </td>
        <td width="33%" style="text-align: center;">
            <p><i class="fas fa-desktop" style="font-size: 500%;"></i></p>
            <br>
            <b>Statisticians and data scientists</b>
            <p>Use available data and derivatives to gather new insights into individuality and variability in human populations.</p>
        </td>
    </tr>
    </table>
</div>

