<style>
.main-content .colorback .mission-header {
    position: relative;
    z-index: 5;
    opacity: 1.0;
    margin-top: 20px;
}
.mission-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.8);
    padding: 15px;
    background-color: #159957;
}
.mission-content {
    position: relative;
    top: -45px;
    border-top: 2px solid rgba(255,255,255,0.5);
    padding-top: 100px;
}
</style>
<div class="colorback greenback" style="margin-top: 6rem; margin-bottom: 6rem;">
    <h1 class="mission-header">
        <div class="mission-box">Mission</div>
    </h1>
    <div class="mission-content">
        <p>
        Neuroscience is engaging at the forefront of science by dissolving disciplinary boundaries and promoting transdisciplinary research. This process can facilitate discovery by convergent efforts from theoretical, experimental and cognitive neuroscience, as well as computer science and engineering. 
        </p>

        <p>
        To assure the success of this process, the current lack of established mechanisms to promote open sharing data, software and scientific results must be overcome. Promoting open software and data sharing has become paramount to addressing the problem of scientific reproducibility. 
        </p>

        <p>
        We address challenges to neuroscience open sharing and reproducibility by providing integrative mechanisms for publishing data, and algorithms while embedding them with computing resources to impact multiple scientific communities.
        </p>
    </div>
    <p style="background-color: rgba(0,0,0,0.2); padding: 20px;">
        <i class="fas fa-quote-left" style="font-size: 150%;"></i>&nbsp;&nbsp;
        <i>
            .. seamless public access to data, computing, and reproducible algorithms, while promoting code sharing and upcycling the long tail of neuroscience data. - <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1734853"><b>NSF BCS-1734853</b></a>
        </i>
    </p>
</div>
