<style>
div.online {
  width: 150px;
  height: 100px;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  font-size: 90%;
}
div.online::after {
  content: "";
  background: url(images/online.png);
background-size: 150px 100px;
background-repeat: no-repeat;
  opacity: 0.1;
  top: -5px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
</style>

<br>
<center style="padding: 3rem 0; line-height: 200%;">
    <h2 style="color: gray;"><b>Engagement and education in Big Data, reproducible neuroscience</b></h2>
</center>
<table class="layout-table" style="font-size: 85%;">
<tr>
    <td width="33%">
        <center>
            <div class="theicon">
                <i class="fas fa-cloud fa-3x"></i>
            </div>
            <br>
            <h3 style="color: gray;"><b>Brain Data Analysis</b></h3>
            <p>Accelerate discovery through a seemless access to various cloud computing resources.</p>
        </center>
     </td>
     <td width="33%">
        <center>
            <div class="theicon">
                <i class="fas fa-sync-alt fa-3x"></i>
            </div>
            <br>
            <h3 style="color: gray;"><b>Sharing Data and Apps</b></h3>
            <p>Upload data and share your Apps with other users from different insitutions and scientific domains.</p>
        </center>
    </td>
    <td width="33%">
        <center>
            <div class="theicon">
                <i class="fab fa-leanpub fa-3x"></i>
            </div>
            <br>
            <h3 style="color: gray;"><b>Publishing Results</b></h3>
            <p>Publish your research results with a single DOI with a full data provenance for a better reproducibility.</p>
        </center>
    </td>
</tr>
</table>

<!--triangle-->
<center style="font-size: 600%; position: relative; top: 50px; color: white;"><i class="fas fa-caret-down"></i></center>

<div class="colorback lightgrayback">
    <br>
    <table class="layout-table">
    <tr>
        <td style="padding: 0px; text-align: right;">
            <h3><b><i class="fas fa-paper-plane"></i> Analyze and visualize.</b></h3>
            <p>Try the Brainlife Apps. Apps are open cloud services. Use the Apps to easily analyze data, monitor progress, visualize your results and share them with other users.</p>
        </td>
        <td style="padding: 0px; position: relative; left: 50px; top: 10px;">
            <img src="images/process.png" class="screenshot">
            <img src="images/screenshots/tractview.png" class="screenshot" style="width: 50%; position: absolute;right: -120px; bottom: -10px;">
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="padding: 0px; position: relative; right: 50px; top: 15px;" width="50%">
            <img src="images/datasets.png" class="screenshot">
        </td>
        <td style="padding: 0px">
            <h3><b><i class="fas fa-database"></i> Upcycle data and code.</b></h3>
            <p>Upload new data or access available data to implement innovative studies and analyses. Data and Apps are conveniently organized into open or private projects shared among users.</p>
            <p>Register your code, algorithms and visualization tools as Apps. Increase the impact of your work by letting collaborators or the whole users community easily reuse your research products.</p>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="padding: 0px; text-align: right;">
            <h3><b><i class="fas fa-th-large"></i> Publish your value.</b></h3>
            <p>Increase the impact of your work by using an innovative publishing mechanism. Embed all your research assets, data and analyses, in a reusable cloud format.</p>
            <p>Brainlife provides mechanisms to share your full research workflow "runnable" on the Cloud, letting collaborators or the whole user community easily reuse your research products.</p>
        </td>
        <td style="padding: 0px; position: relative; left: 50px; top: 15px;">
            <img src="images/screenshots/publication.png" class="screenshot">
        </td>
    </tr>
    </table>
    <br>
</div>
