<style>
.refs {
padding-top: 10px;
color: white;
background-color: #ccc;
text-align: center;
margin: 0px -100%;
}
.refs img {
    padding: 0 15px;
    max-height: 25px;
}
</style>
<div class="refs">
    <a href="https://iu.edu"><img src="images/ref.iu.png"/></a>
    <a href="https://jetstream-cloud.org/"><img src="images/ref.jetstream.png"/></a>
    <a href="https://www.nsf.gov/"><img src="images/ref.nsf.png"/></a>
    <a href="https://www.osris.org/"><img src="images/ref.osiris.png"/></a>
    <!--<a href="https://azure.microsoft.com"><img src="images/ref.azure.png"/></a>-->
    <!--<a href="https://cloud.google.com/"><img src="images/ref.gcp.png"/></a>-->
    <a href="https://opensciencegrid.org/"><img src="images/ref.osg.png"/></a>
    <a href="https://www.datacite.org/"><img src="images/ref.datacite.png"/></a>
</div>
