<style>
.apps {
    clear: both;
}
.apps .app-tile {
    position: relative;

    width: 255px;
    height: 190px;
    background-color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 15px 15px 15px 60px;
    float: left;
    /*border: 1px solid #ccc;  */
    border-radius: 3px;

    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 2px 2px 2px #eee;

    overflow: hidden;
}
.apps .app-tile h2 {
    font-size: 17pt;
    line-height: 110%;
}
.apps .app-tile .startbtn {
    display: block;
    text-decoration: none;
    background-color: #ccc;
    color: #888;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    position: absolute;
    width:80%;
    bottom: 10px;
    /*transition: background-color 0.2s;*/
}
.apps .app-tile:hover {
    color: white;
    background-color: #2693ff;
    animation: pulse 1s;
}
.apps .app-tile:hover h2 {
    color: white;
}
.apps .app-tile .app-icon {
    position: absolute;
    top: 20px;
    left: -10px;
    font-size: 50px;
    opacity: 0.2;
}
</style>

<div class="apps">
    <div class="app-tile" onclick="window.location = '/home/preprocessing'">
        <h2>Preprocessing</h2>
        <p class="app-title">Initialize diffusion-weighted data.</p>
        <i class="fa fa-sticky-note app-icon" aria-hidden="true"></i> 
    </div>
    <div class="app-tile" onclick="window.location = '/home/tracking'">
        <h2>Tracking</h2>
        <p class="app-title">Tract brain connections using statistical ensemble methods.</p>
        <i class="fa fa-random app-icon" aria-hidden="true"></i> 
    </div>
    <div class="app-tile" onclick="window.location = '/home/life'">
        <h2>LiFE</h2>
        <p class="app-title">Evaluation and statistical inference for brain connectomes.</p>
        <i class="fa fa-signal app-icon" aria-hidden="true"></i> 
    </div>
    <div class="app-tile" onclick="window.location = '/home/networkneuro'">
        <h2>Brain Network</h2>
        <p class="app-title">Create brain connection matrices.</p>
        <i class="fa fa-file-text-o app-icon" aria-hidden="true"></i> 
    </div>
    <div class="app-tile" onclick="window.location = '/home/majortracts'">
        <h2>White Matter Tracts</h2>
        <p class="app-title">Identify major human white matter tracts.</p>
        <i class="fa fa-sitemap app-icon" aria-hidden="true"></i> 
    </div>
    <div class="app-tile" onclick="window.location = '/home/evaluator'">
        <h2>Connectome Evaluator</h2>
        <p class="app-title">Provide quantitative estimates of connectome quality.</p>
        <i class="fa fa-balance-scale app-icon" aria-hidden="true"></i> 
    </div>
    <div class="app-tile" onclick="window.location = '/home/cortex'">
        <h2>Brain Tissue Extraction</h2>
        <p class="app-title">Subdivide the human brain into multiple regions and tissue types.</p>
        <i class="fa fa-pie-chart app-icon" aria-hidden="true"></i> 
    </div>
    <div class="app-tile" onclick="window.location = '/home/o3d'">
        <h2>O3D</h2>
        <p class="app-title">Open Diffusion Data and Derivatives.</p>
        <i class="fa fa-database app-icon" aria-hidden="true"></i> 
    </div>
</div>
<br clear="both">
