<footer class="site-footer">
    <!--
  <span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
    -->
    <span class="site-footer-credits">
       [Pestilli Research Lab](https://www.indiana.edu/~plab/wordpress/) | 
       [Indiana University](https://www.indiana.edu/) | 
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1636893">National Science Foundation</a> | 
        <a href="https://www.microsoft.com/en-us/research/academic-program/microsoft-azure-for-research/">Microsfot Research</a>
    </span>
</footer>
