<footer class="site-footer site-footer-sub">
    <table class="layout-table" style="font-size: 95%;">
    <tr>
        <td width="33%">
            <p style="border-bottom: 1px solid #ddd;">
                <b>Home</b>
            </p>
            <a href="/docs/">Documentation</a><br>
            <a href="/home/o3d">O3D</a><br>
            <!--
            <a href="/home/legacy">Legacy Workflows</a><br>
            -->
            
            <p style="border-bottom: 1px solid #ddd;">
                <b>Visualization</b>
            </p>
            <a href="/ui/tractview/demo.html">Tract Viewer Demo</a><br>
            <a href="/ui/surfaces/">3D Surfaces Demo</a><br>
            <a href="/ui/nnview/">NetworkNeuro Demo</a><br>
        </td>
        <td width="33%">
            <p style="border-bottom: 1px solid #ddd;">
                <b>Brainlife</b>
            </p>
            <a href="/apps">Apps</a><br>
            <a href="/project/">Projects</a><br>
            <a href="/pubs">Publications</a><br>

            <p style="border-bottom: 1px solid #ddd;">
                <b>Subscribe</b>
            </p>
            <a href="http://eepurl.com/dqw5_T">Users Newsletter</a><br>
            <a href="http://eepurl.com/dsybmb">App Developer Newsletter</a><br>
        </td>
        <td width="33%" style="text-align: right; font-size: 150%;">
            <a href="https://brainlife-inviter.herokuapp.com/"><i class="fab fa-slack"></i></a>
            &nbsp;
            <a href="https://twitter.com/brainlifeio"><i class="fab fa-twitter"></i></a>
            &nbsp;
            <a href="https://github.com/brainlife"><i class="fab fa-github"></i></a>
            &nbsp;
        </td>
    </tr>
    </table>
</footer>

<footer class="site-footer">
    <span class="site-footer-credits">
        <a href="https://brainlife.io/plab/">Pestilli Lab</a> | 
        <a href="http://www.indiana.edu/~earbmc/">IU Learning</a> | 
        <a href="https://pti.iu.edu/">Pervasive Technologies Institute</a> |
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1636893">NSF</a> | 
        <a href="https://www.microsoft.com/en-us/research/academic-program/microsoft-azure-for-research/">Microsoft Azure</a> |
        <a href="https://jetstream-cloud.org/">Jetstream Cloud</a>
    </span>
</footer>
