<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
	<!--
	{% if page.giturl %}
	<a href="{{page.giturl}}">
		<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
	</a>
	{% endif %}
	-->

	<div class="page-header">
		<h1><a href="/">{{ site.title }}</a></h1>
		{% include plablogo.html %}
	</div>

	<section class="app-header">
		<br>
		<div class="main-content">
			{% if page.starturl %} 
				<a href="{{page.starturl}}" class="btn btn-lg btn-primary animated bounceIn" style="float: right; box-shadow: 0 0 10px #444; ">Start</a>
			{% endif %}
			<h1>{{ page.title }}</h1>
			{% if page.subtitle %} 
				<h2 style="opacity: 0.9;">{{page.subtitle}}</h2>
			{% endif %}
			<br>
		</div>
	</section>

	<section class="main-content">
      
     		{{ content }}

		{% if page.starturl %} 
		<center style="margin: 75px 0px;">
			<a href="{{page.starturl}}" class="btn btn-lg btn-primary">Start</a>
		</center>
		{% endif %} 

		{% include page-footer.html %}

    	</section>
</body>
</html>
